[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
plotly = "*"
pandas = "*"
numpy = "*"
ipykernel = "*"
nbformat = "*"
kaleido = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.12"
